<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome to NextGenSell</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'partials/static.html' %}
  <!-- Favicons -->
</head>
<body>

  {% include 'partials/header.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Transforming Retail with Advanced <span>Point of Sale (POS)</span> Solutions</h1>
            <h2>Modern POS systems enhance customer experiences, manage inventory, optimize sales, and foster loyalty through data-driven insights.</h2>
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div style="width: 40%;" class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img style="border-radius: 5px; border: 2px solid #7BA8B4;" src={% static 'assets/img/hero-img.png' %} class="img-fluid animated" alt="">
          
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about"  class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch aos-init aos-animate" data-aos="fade-right" style=" background: url('/static/assets/img/about.png') center center no-repeat;background-size: contain;  min-height: 300px;">
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Experience the Effortless Transaction</h3>
            <p>
              At the core of NextGenSell is a user-friendly POS system, offering a sleek interface for efficient transactions. Its modern design ensures a smooth checkout experience, while a built-in calculator aids in accurate calculations. From sales to payments, NextGenSell streamlines processes, enhancing both staff productivity and customer satisfaction.
            </p>
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="ri-bar-chart-box-line"></i></div>
              <h4 class="title"><a href="">Empowerment through Analytics</a></h4>
              <p class="description">
                Beyond its robust POS capabilities, NextGenSell offers more. This powerful tool delivers vital business insights through analytical tools, enabling data-driven growth decisions. Whether analyzing sales trends, top products, or demand forecasts, NextGenSell equips you with informed choices. Its analytics dashboard presents key performance indicators, tracking sales trends, customer preferences, and peak hours. These insights facilitate real-time strategy adjustments, aligning your business with market dynamics.
              </p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Mobility Redefined</a></h4>
              <p class="description">In today's dynamic world, business transcends physical confines. NextGenSell's mobile functionality ensures constant control—whether you're on-site, off-site, or remote. Access real-time data, monitor sales, and make decisions wherever you are, enhancing business management beyond your store's boundaries. Additionally, NextGenSell's mobility extends to the digital realm, integrating with e-commerce platforms for centralized inventory, synchronized product info, and consistent customer experiences across channels.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Efficient Inventory Management</a></h4>
              <p class="description">Bid farewell to inventory worries with NextGenSell's advanced system. Gain real-time visibility into stock, monitor movement, and receive low-stock alerts. Seamlessly manage inventory across stores, avoiding stockouts or excess. This control saves time and prevents revenue loss. Additionally, NextGenSell's analytics offer insights into product performance and demand, optimizing inventory for cost-efficiency and customer appeal.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Check The Features</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="#">Inventory</a></h3>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="#">Analytics</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="#">Mobility</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <i class="ri-printer-cloud-line" style="color: #e361ff;"></i>
              <h3><a href="#">Integration</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <i class="ri-secure-payment-fill" style="color: #47aeff;"></i>
              <h3><a href="#">Security</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="#">Reporting</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="#">User-friendly</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <i class="ri-price-tag-2-line" style="color: #7B81C9;"></i>
              <h3><a href="#">Efficiency</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">
        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src={% static "assets/img/details-3.png" %}  class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>24/7 Customer Support</h3>
            <p>We're dedicated to your success. That's why NextGenSell offers round-the-clock customer support to address any queries or issues you might encounter. </p>
            <ul>
              <li><i class="bi bi-check"></i>24/7 support for seamless NextGenSell journey – your success matters</li>
              <li><i class="bi bi-check"></i>NextGenSell ensures smooth business operations</li>
              <li><i class="bi bi-check"></i>Our team guides growth-focused businesses.</li>
            </ul>
            <p>
              Our knowledgeable support team is ready to assist you with technical troubleshooting, feature guidance, and any other assistance you may require, ensuring uninterrupted operations.
            </p>
          </div>
        </div>
        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src={% static "assets/img/details-4.png" %}  class="img-fluid" alt="">
        </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Cloud Backup for Enterprise: Protecting Your Data</h3>
            <p>
              In the Enterprise Tier, NextGenSell offers more than just advanced insights—it provides peace
              of mind. With cloud backup functionality, your crucial business data is securely stored offsite, safeguarding it against unforeseen events. This robust backup solution ensures that even
              in the face of technical glitches or hardware failures, your data remains intact and
              recoverable, allowing you to continue business operations seamlessly.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Enterprise Tier offers cloud backup for data security.</li>
              <li><i class="bi bi-check"></i> Robust solution against glitches, hardware failures, and unforeseen events.</li>
              <li><i class="bi bi-check"></i> Ensure seamless business operations with recoverable data.</li>
              <li><i class="bi bi-check"></i> Trust NextGenSell for peace of mind and data protection.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Pricing</h2>
          <p>Check our Pricing</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>7 days Trial</h3>
              <h4><sup>R</sup>0<span> / month</span></h4>
              <ul>
                <li>Stock and product management</li>
                <li class="na">Barcode scanning</li>
                <li>Built-in calculator for simplified transactions.                </li>
                <li class="na">Customized sales slip logo and layout</li>
                <li class="na">Enhanced analytics for better insights</li>
                <li class="na">Multi-role access: Front Desk, Manager, and Stock Taker</li>
                <li class="na">Comprehensive analytics suite for advanced insights</li>
                <li class="na">Cloud backup for data protection</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Basic Tier</h3>
              <h4><sup>R</sup>350<span> / month</span></h4>
              <ul>
                <li>Stock and product management</li>
                <li>Barcode scanning</li>
                <li>Built-in calculator for simplified transactions.                </li>
                <li class="na">Customized sales slip logo and layout</li>
                <li class="na">Enhanced analytics for better insights</li>
                <li class="na">Multi-role access: Front Desk, Manager, and Stock Taker</li>
                <li class="na">Comprehensive analytics suite for advanced insights</li>
                <li class="na">Cloud backup for data protection</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <h3>Medium-sized Business Tier</h3>
              <h4><sup>R</sup>500<span> / month</span></h4>
              <ul>
                <li>Stock and product management</li>
                <li>Barcode scanning</li>
                <li>Built-in calculator for simplified transactions.                </li>
                <li>Customized sales slip logo and layout</li>
                <li>Enhanced analytics for better insights</li>
                <li class="na">Multi-role access: Front Desk, Manager, and Stock Taker</li>
                <li class="na">Comprehensive analytics suite for advanced insights</li>
                <li class="na">Cloud backup for data protection</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="400">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>R</sup>900<span> / month</span></h4>
              <ul>
                <li>Stock and product management</li>
                <li>Barcode scanning</li>
                <li>Built-in calculator for simplified transactions.                </li>
                <li>Customized sales slip logo and layout</li>
                <li>Enhanced analytics for better insights</li>
                <li>Multi-role access: Front Desk, Manager, and Stock Taker</li>
                <li>Comprehensive analytics suite for advanced insights</li>
                <li>Cloud backup for data protection</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Check our Gallery</p>
        </div>

        <div class="row g-0" data-aos="fade-left">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox">
                <img src={% static "assets/img/gallery/gallery-1.jpg" %} alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
              <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox">
                <img src={% static "assets/img/gallery/gallery-2.jpg" %} alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox">
                <img src={% static "assets/img/gallery/gallery-3.jpg" %} alt="" class="img-fluid">
                
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox">
                <img src={% static "assets/img/gallery/gallery-4.jpg" %} alt="" class="img-fluid">
                
              </a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Gallery Section -->


    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is NextGenSell?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  NextGenSell is an innovative Point of Sale (POS) system designed to enhance retail operations by streamlining transactions, improving customer experiences, and providing valuable insights.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How can NextGenSell improve my business operations?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  NextGenSell simplifies transactions, reduces training time, and enhances checkout experiences. It also provides insights into sales trends, inventory levels, and customer preferences, aiding in informed decision-making.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Is training required to use NextGenSell? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  NextGenSell features an intuitive interface, minimizing the need for extensive training. However, we do provide resources and guidance to help your staff get acquainted with the system.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Is NextGenSell suitable for both small and large businesses?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, NextGenSell caters to businesses of all sizes, from small boutiques to large enterprises, offering customized solutions to suit your specific requirements.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Is NextGenSell scalable for my business?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, NextGenSell is designed to scale with your business. Whether you have a single store or a chain of locations, our system adapts to your needs.                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>CNR R40 AND D725 RDS NELSPRUIT 1201</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@strawberrysoft.co.za</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+27 65 907 4318</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% include 'partials/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  {% include 'partials/vendor.html' %}
</body>

</html>